.marketContainer {
    width: auto;
    border: 1px solid #eee;
    border-radius: 0.5rem;
    box-shadow: 10px 10px #eee;
    display: flex;
    flex-wrap: wrap;
}

.bannerContainer {
    margin: 1rem 0;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
}

.singleCurrencyContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.singleCurrencyWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
    margin-bottom: 1rem;
}

.infoContainer {
    display: flex;
    flex-direction: column;
}

.infoContainer span:nth-child(n) {
    font-size: 1.3rem;
    padding: 0.3rem 5rem;
}


