.tableContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.tableElement {
    margin: 0 1rem;
    width: 100%;
    table-layout:auto;
    border-collapse: collapse;
    border: 1px solid #ccc;
    text-align: center;
}

.tableHeaderGroup {
    border-bottom: 1px solid #ccc;
    box-shadow: 0 5px #eee;
}

.tableRowBody td:nth-child(n){
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.tableHeaderGroup th:nth-child(2) {
    background-color: #ffd900;
    min-width: 200px;
}
.tableHeaderGroup th:nth-child(3) {
    min-width: 80px;
}
.tableHeaderGroup th:nth-child(4) {
    background-color: #ffd900;
}
.isTrendingUp{
    color: green;
}
.isTrendingDown {
    color: red;
}
